.navbar-start a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin: 0 25px;
}
.navbar-start {
    height: 10vh;
    margin: 0 auto;
    width: 80vw;
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: center;
}
.navbar-start a:hover {
    color: #56b291;
  }
.navbar-start a:active {
    color: #1f7e5b;
}
.navbar-item-home {
    font-family: 'Ultra', serif;
    font-weight: bold;
    font-size: 1.7rem;
}